@model IEnumerable<QLHocSinhHVT.Models.HOCSINH>

@{
    ViewBag.Title = "Danh sách học sinh";
}

<h2>Danh sách học sinh</h2>

<p>
    @Html.ActionLink("Thêm học sinh", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOP.MaLop)
        </th>
        <th>
            Họ tên phụ huynh
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoHS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHS)
        </td>
        <td>
            <img src="/Images/@item.AnhHS" width="75" height="100" />
        </td>
        <td>
            @if (item.GioiTinh)
            {
                <div>Nam</div>
            }
            else
            {
                <div>Nữ</div>
            }
        </td>
        <td>
            @item.NgaySinh.Day / @item.NgaySinh.Month / @item.NgaySinh.Year
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOP.MaLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHUHUYNH.HoPH) @Html.DisplayFor(modelItem => item.PHUHUYNH.TenPH)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaHS }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaHS }) |
            @Html.ActionLink("Xoá", "Delete", new { id = item.MaHS })
        </td>
    </tr>
}

</table>
