@model QuanLyHocSinh.Models.NAMHOC

@{
    ViewBag.Title = "Delete";
}

<h3>Bạn có muốn xóa năm học này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamKetThuc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
