<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-brand text-light bg-primary">
        <div class="container">
            <a href="@Url.Action("Index", "Home")"> <img style="width:70px ; height:70px ; border-radius:50%" src="~/Asset/icon.png" /></a>
            @*@Html.ActionLink("" , "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    
               <li>@Html.ActionLink("Học sinh", "Index", "HOCSINHs", new { area = "" }, new { @class = "nav-link text-light" })</li>

                    <li>@Html.ActionLink("Năm học", "Index", "NAMHOCs", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    <li>@Html.ActionLink("Thành viên", "Index", "UserRoles", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    <li>@Html.ActionLink("Tham số", "Index", "THAMSOes", new { area = "" }, new { @class = "nav-link text-light" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Chương trình quản lý học sinh THPT Hoàng Văn Thụ</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
