@model QuanLyHocSinh.Models.HOCPHI

@{
    ViewBag.Title = "Hủy học phí";
}

<h2>@ViewBag.Title</h2>

<h3>Bạn có chắc là bạn muốn bỏ học phí này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOCSINH.HoHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOCSINH.HoHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOCSINH.TenHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOCSINH.TenHS)
        </dd>

        <dt>
            Năm học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMHOC.NamBatDau) - @Html.DisplayFor(model => model.NAMHOC.NamKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIHOCPHI.TenLHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIHOCPHI.TenLHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThongBao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThongBao)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-outline-dark" /> |
            @Html.ActionLink("Quay lại", "Index", new { id = ViewBag.MaHS, maNH = ViewBag.MaNamHoc })
        </div>
    }
</div>
